@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fixes Tailwind h-screen on iPhones */
@supports (-webkit-touch-callout: none) {
    .h-screen {
        height: -webkit-fill-available;
    }
}

/* Fixes outline style for inputs on Safari */
input:focus {
    outline: none;
}
